pipelines/dtccdatafactory.json
{
    "name": "dtccdailyprocessing",
    "properties": {
        "activities": [
            {
                "name": "GetNewMROFiles",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "Binary1",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "wildcardFileName": "*.mro",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "Filter_mro_files",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "GetNewMROFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetNewMROFiles').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@endswith(item().name, '.mro')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ProcessEachMROFile",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Filter_mro_files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Filter_mro_files').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 3,
                    "activities": [
                        {
                            "name": "RunDTCCParser",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/vikasdabas@outlook.com/DTCC PARSER/Parser",
                                "baseParameters": {
                                    "input_file": {
                                        "value": "@item().name",
                                        "type": "Expression"
                                    },
                                    "processing_date": {
                                        "value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
                                        "type": "Expression"
                                    },
                                    "mode": {
                                        "value": "single",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AzureDatabricks1",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-08-05T01:04:05Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
